@import 'https://fonts.googleapis.com/css?family=Raleway|Nunito+Sans:300';

body {
	height: 100%;
	width: 100%;
	margin: 0;
}

.app {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Nunito Sans';
}

:global a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}
:global a:hover {
    opacity: 0.8;
}

:global input,
:global input:-webkit-autofill,
:global textarea:-webkit-autofill,
:global select:-webkit-autofill {
    background-color: rgb(79, 195, 247) !important;
    -webkit-box-shadow: 0 0 0px 1000px rgb(79, 195, 247) inset;
    color: white !important;
}